.bodyLoader {
  display: flex;
  justify-content: center;
  margin: 12px 0
}
.myLoader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px dashed teal;
  animation: rotate 3s infinite linear;
  position: relative;
}
.myLoader:before {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 3px;
  left: 3px;
  content: ' ';
  border-radius: 50%;
  border: 3px dashed teal;
  animation: rotate-reverse 2s infinite linear;
}

@keyframes rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
