.page {
  padding: 8px;
  border: 1px solid teal;
  cursor: pointer;
}
.page:not(:last-child) {
  margin-right: 8px;
}
.page__wrapper {
  margin: 24px 0;
  min-height: 36px;
}
.page__current {
  border-width: 2px;
  font-weight: bold;
  color: teal;
}
